@page
@model Practice1.Pages.AddedPageModel
@{
    ViewData["Title"] = "AddedPage";
}


<div class="home-page-background-logo">
    <div class="home-page-background-color">
        <div class="background-color-home">
            <div class="home-page-text-container">
                <a asp-page="/Current_Week"><h1 class="home=page-headers">Current Week</h1></a>
                <a asp-page="/Current_Season"><h1 class=" home=page-headers ">Current Season</h1></a>
                <a asp-page="/FranchiseList"><h1 class="home=page-headers">Teams</h1></a>
                <a asp-page="/Archive/Index"><h1 class="home=page-headers">Archive</h1></a>
</div>
        </div>
    </div>
</div>

