@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>
</head>
<div class="text-center">

    
    <a asp-page="/HomePage"> <img class="Index-Logo" src="~/css/Images/Theres No I In Denial 2 Colorized.png" />
    </a>
</div>
