@page
@model Practice1.Pages.Archive.IndexModel
@{
}

<div class="archive-background-photo">
    <div class="archive-background-color">
        <a asp-page="/Archive/SingleGameRecords"><h1>Single Game Records</h1></a>
        <h1>Season Records</h1>
        <h1>Career Records</h1>
        <h1>Head to Head Records</h1>
        <h1>All Time Wins and Losses</h1>
        <h1>Belt Game</h1>
        <h1>Pint Glass</h1>
        <h1>Rivalries</h1>
    </div>
</div>